In [1]:
import pandas as pd

In [2]:
# Import pandas library
import pandas as pd

# Creating the Series from a list
cat1 = ['Grumpy Cat', 'cat', 2012]
ser = pd.Series(cat1)

# Create the index
cat_index = ['name', 'species', 'YOB']

# Set the index
ser.index = cat_index

In [3]:
ser

name       Grumpy Cat
species           cat
YOB              2012
dtype: object

In [4]:
# Creating a DataFrame from a list
name = ['Grumpy Cat', 'Garfi the Angry Cat', 'Colonel Meow']
species = ['cat','cat', 'cat']
YOB = [2004, 2012, 2011]

# Creating the Series from a dictionary
cat_dict= {	'name':name,
   	        'species':species, 
            'YOB': YOB}
df = pd.DataFrame(cat_dict)
df

                  name species   YOB
0           Grumpy Cat     cat  2004
1  Garfi the Angry Cat     cat  2012
2         Colonel Meow     cat  2011

In [5]:
df["name"]

0             Grumpy Cat
1    Garfi the Angry Cat
2           Colonel Meow
Name: name, dtype: object

In [6]:
df["species"]

0    cat
1    cat
2    cat
Name: species, dtype: object

In [8]:
df["YOB"]

0    2004
1    2012
2    2011
Name: YOB, dtype: int64

In [9]:
df[["YOB", "name"]]

    YOB                 name
0  2004           Grumpy Cat
1  2012  Garfi the Angry Cat
2  2011         Colonel Meow

In [10]:
df[["name", "species"]]

                  name species
0           Grumpy Cat     cat
1  Garfi the Angry Cat     cat
2         Colonel Meow     cat

In [11]:
df

                  name species   YOB
0           Grumpy Cat     cat  2004
1  Garfi the Angry Cat     cat  2012
2         Colonel Meow     cat  2011

In [12]:
df[0:2]

                  name species   YOB
0           Grumpy Cat     cat  2004
1  Garfi the Angry Cat     cat  2012

In [13]:
df[0:1]

         name species   YOB
0  Grumpy Cat     cat  2004

In [14]:
df[0:3]

                  name species   YOB
0           Grumpy Cat     cat  2004
1  Garfi the Angry Cat     cat  2012
2         Colonel Meow     cat  2011

In [15]:
 df.loc[0:2,["name","species"]]

                  name species
0           Grumpy Cat     cat
1  Garfi the Angry Cat     cat
2         Colonel Meow     cat

In [16]:
df.loc[0:1, ["YOB", "species"]]

    YOB species
0  2004     cat
1  2012     cat

In [20]:
df.iloc[0:1,:]

         name species   YOB
0  Grumpy Cat     cat  2004

In [21]:
df.iloc[0:1, 0:1]

         name
0  Grumpy Cat

In [22]:
df.iloc[0:1, 0:2]

         name species
0  Grumpy Cat     cat

In [25]:
movies = pd.read_csv("./movies_2.csv")

In [26]:
movies

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
movies.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [28]:
movies.head(3)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."

In [29]:
movies.head(19)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
5,6,Uncle Buck,PG,15000000.0,79258538.0,1989-08-16,Family,100.0,7.0,77659.0,Bachelor and all-round slob Buck babysits his ...
6,7,When Harry Met Sally...,R,16000000.0,92800000.0,1989-07-21,Romance,96.0,7.6,180871.0,Harry and Sally have known each other for year...
7,8,Dead Poets Society,PG,16400000.0,235860116.0,1989-06-02,Drama,129.0,8.1,382002.0,English teacher John Keating inspires his stud...
8,9,Parenthood,PG-13,20000000.0,126297830.0,1989-07-31,Comedy,124.0,7.0,41866.0,The Buckmans are a midwestern family all deali...
9,10,Lethal Weapon 2,R,25000000.0,227853986.0,1989-07-07,Comedy,114.0,7.2,151737.0,Riggs and Murtaugh are on the trail of South A...
10,11,The War of the Roses,R,26000000.0,160200000.0,1989-12-08,Comedy,116.0,6.8,45248.0,A married couple try everything to get each ot...
11,12,National Lampoon's Christmas Vacation,PG-13,27000000.0,71320000.0,1989-12-01,Action,97.0,7.6,135690.0,The Griswold familys plans for a big family Ch...
12,13,"Honey, I Shrunk the Kids",PG,32000000.0,222724172.0,1989-06-22,Family,93.0,6.3,132480.0,The scientist father of a teenage girl and boy...
13,14,Batman,PG,35000000.0,411348924.0,1989-06-23,Action,126.0,7.5,319517.0,The Dark Knight of Gotham City begins his war ...
14,15,Ghostbusters II,PG,37000000.0,215394738.0,1989-06-15,Comedy,108.0,6.6,171196.0,The discovery of a massive river of ectoplasm ...
15,16,The Little Mermaid,PG,40000000.0,222300000.0,1989-11-17,Animation,83.0,7.6,219221.0,A mermaid princess makes a Faustian bargain in...
16,17,Back to the Future Part II,PG,40000000.0,332000000.0,1989-11-20,Science Fiction,108.0,7.8,438940.0,"After visiting 2015, Marty McFly must repeat h..."
17,18,Indiana Jones and the Last Crusade,PG-13,48000000.0,474171806.0,1989-05-24,Adventure,127.0,8.2,647495.0,"In 1938, after his father Professor Henry Jone..."
18,19,Tango & Cash,R,55000000.0,63408614.0,1989-12-22,Action,104.0,6.8,79806.0,"Framed by their ruthless arch-nemesis, a misma..."

In [30]:
movies.tail()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
movies.tail(10)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
606,607,Spider-Man: Far from Home,PG-13,160000000.0,1.131000e+09,2019-06-26,Action,129.0,NaN,NaN,NaN
607,608,Dumbo,PG,170000000.0,3.530000e+08,2019-03-11,Adventure,112.0,NaN,NaN,NaN
608,609,Captain Marvel,PG-13,175000000.0,1.128000e+09,2019-02-27,Action,124.0,NaN,NaN,NaN
609,610,Aladdin,PG,183000000.0,1.049000e+09,2019-05-08,Fantasy,128.0,NaN,NaN,NaN
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
movies.tail(19)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
597,598,The Upside,PG-13,37500000.0,1.228000e+08,2019-01-11,Comedy,126.0,NaN,NaN,NaN
598,599,John Wick: Chapter 3 - Parabellum,R,75000000.0,3.217000e+08,2019-05-09,Thriller,131.0,NaN,NaN,NaN
599,600,It: Chapter Two,R,79000000.0,3.940000e+08,2019-08-26,Horror,169.0,NaN,NaN,NaN
600,601,The Secret Life of Pets 2,PG,80000000.0,4.294000e+08,2019-05-24,Animation,86.0,NaN,NaN,NaN
601,602,Once Upon a Time in Hollywood,R,96000000.0,3.459000e+08,2019-05-21,Comedy,161.0,NaN,NaN,NaN
602,603,The LEGO Movie 2: The Second Part,PG,99000000.0,1.913000e+08,2019-02-07,Animation,107.0,NaN,NaN,NaN
603,604,Shazam!,PG-13,100000000.0,3.650000e+08,2019-03-15,Action,132.0,NaN,NaN,NaN
604,605,How to Train Your Dragon: The Hidden World,PG,129000000.0,5.199000e+08,2019-01-03,Animation,104.0,NaN,NaN,NaN
605,606,Pokemon Detective Pikachu,PG,150000000.0,4.316000e+08,2019-05-03,Mystery,104.0,NaN,NaN,NaN
606,607,Spider-Man: Far from Home,PG-13,160000000.0,1.131000e+09,2019-06-26,Action,129.0,NaN,NaN,NaN
607,608,Dumbo,PG,170000000.0,3.530000e+08,2019-03-11,Adventure,112.0,NaN,NaN,NaN
608,609,Captain Marvel,PG-13,175000000.0,1.128000e+09,2019-02-27,Action,124.0,NaN,NaN,NaN
609,610,Aladdin,PG,183000000.0,1.049000e+09,2019-05-08,Fantasy,128.0,NaN,NaN,NaN
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
movies.shape

(616, 11)

In [34]:
movies.dtypes

MovieID           int64
Title            object
MPAA Rating      object
Budget          float64
Gross           float64
Release Date     object
Genre            object
Runtime         float64
Rating          float64
Rating Count    float64
Summary          object
dtype: object

In [35]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB

In [38]:
movies.isna()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
611,False,False,False,False,False,False,False,False,True,True,True
612,False,False,False,False,False,False,False,False,True,True,True
613,False,False,False,False,False,False,False,False,True,True,True
614,False,False,False,False,False,False,False,False,True,True,True
615,False,True,True,True,True,True,True,True,True,True,True

In [39]:
movies.isna().sum()

MovieID           0
Title             1
MPAA Rating       1
Budget            1
Gross             1
Release Date      1
Genre             1
Runtime           1
Rating          108
Rating Count    108
Summary         120
dtype: int64

In [41]:
movies.isnull()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
611,False,False,False,False,False,False,False,False,True,True,True
612,False,False,False,False,False,False,False,False,True,True,True
613,False,False,False,False,False,False,False,False,True,True,True
614,False,False,False,False,False,False,False,False,True,True,True
615,False,True,True,True,True,True,True,True,True,True,True

In [44]:
movies.drop(labels=["Summary"], axis=1)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
movies.drop(labels=["Budget"], axis=1)

,MovieID,Title,MPAA Rating,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
 movies.drop(labels=[615], axis=0, inplace=True)

In [48]:
movies.shape

(615, 11)

In [49]:
movies.dtypes

MovieID           int64
Title            object
MPAA Rating      object
Budget          float64
Gross           float64
Release Date     object
Genre            object
Runtime         float64
Rating          float64
Rating Count    float64
Summary          object
dtype: object

In [50]:
movies["Budget"].astype("int", copy=False)

0        7500000
1        7500000
2       13000000
3       14000000
4       15000000
         ...
610    200000000
611    200000000
612    200000000
613    250000000
614    356000000
Name: Budget, Length: 615, dtype: int64

In [51]:
movies["Budget"] = movies["Budget"].astype("int")

In [52]:
movies.dtypes

MovieID           int64
Title            object
MPAA Rating      object
Budget            int64
Gross           float64
Release Date     object
Genre            object
Runtime         float64
Rating          float64
Rating Count    float64
Summary          object
dtype: object

In [155]:
movies["Release Date"] = pd.to_datetime(movies["Release Date"], format='%Y-%m-%d', errors='ignore')

In [62]:
movies[movies["Gross"] > 50000000]

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN,NaN
611,612,Toy Story 4,G,200000000,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN

In [67]:
movies[movies["Gross"] > 100000]

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN,NaN
611,612,Toy Story 4,G,200000000,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN

In [68]:
movies[movies["Gross"] > 60000000]

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN,NaN
611,612,Toy Story 4,G,200000000,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN

In [69]:
movies[movies["Genre"] == "Thriller"]

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
28,29,Ghost,PG-13,22000000,5.050000e+08,1990-07-12,Thriller,127.0,7.0,183054.0,"After a young man is murdered, his spirit stay..."
32,33,The Hunt for Red October,PG,30000000,1.992000e+08,1990-03-02,Thriller,134.0,7.6,167212.0,"In November 1984, the Soviet Unions best subma..."
39,40,Die Hard 2,R,70000000,2.400311e+08,1990-07-02,Thriller,124.0,7.2,317843.0,John McClane attempts to avert disaster as rog...
76,77,Patriot Games,R,45000000,1.780516e+08,1992-06-04,Thriller,117.0,6.9,95783.0,When CIA analyst Jack Ryan interferes with an ...
77,78,Basic Instinct,R,49000000,3.529272e+08,1992-03-20,Thriller,127.0,6.9,159658.0,A violent police detective investigates a brut...
92,93,Rising Sun,R,40000000,1.071988e+08,1993-07-30,Thriller,125.0,6.2,40088.0,When an escort girl is found dead in the offic...
98,99,Jurassic Park III,PG-13,93000000,3.688000e+08,2001-07-16,Thriller,92.0,8.9,1690474.0,A decidedly odd couple with ulterior motives ...
99,100,Pulp Fiction,R,8000000,2.139288e+08,1994-09-10,Thriller,154.0,8.9,1690474.0,"The lives of two mob hitmen, a boxer, a gangst..."
115,116,Clear and Present Danger,PG-13,62000000,2.158877e+08,1994-08-03,Thriller,141.0,6.9,83296.0,CIA Analyst Jack Ryan is drawn into an illegal...
131,132,Crimson Tide,R,53000000,1.573872e+08,1995-05-12,Thriller,116.0,7.3,95145.0,"On a U.S. nuclear missile sub, a young First O..."
136,137,Die Hard: With a Vengeance,R,90000000,3.661017e+08,1995-05-19,Thriller,128.0,5.4,224254.0,John McClane and a Harlem store owner are targ...
146,147,Broken Arrow,R,50000000,1.502701e+08,1996-02-09,Thriller,108.0,6.0,86863.0,Terrorists steal nuclear warheads from the U.S...
153,154,Ransom,R,80000000,3.094927e+08,1996-11-08,Thriller,117.0,6.6,112739.0,"When a multimillionaire mans son is kidnapped,..."
169,170,Face/Off,R,80000000,2.456761e+08,1997-06-27,Thriller,138.0,7.3,331618.0,"In order to foil a terrorist plot, an FBI agen..."
173,174,Men in Black,PG-13,90000000,5.893905e+08,1997-07-02,Thriller,98.0,7.3,486947.0,A police officer joins a secret organization t...
192,193,Enemy of the State,R,90000000,2.506498e+08,1998-11-20,Thriller,132.0,7.3,216789.0,A lawyer becomes a target by a corrupt politic...
195,196,Godzilla,PG-13,130000000,3.790143e+08,1998-05-20,Thriller,139.0,5.4,174600.0,"A giant, reptilian monster surfaces, leaving d..."
202,203,The Sixth Sense,PG-13,40000000,6.728063e+08,1999-08-06,Thriller,107.0,8.1,860079.0,A boy who communicates with spirits seeks the ...
204,205,The General's Daughter,R,60000000,1.497059e+08,1999-06-18,Thriller,116.0,6.3,49909.0,When the daughter of a well-known and well-res...
245,246,Ocean's Eleven,PG-13,85000000,4.507172e+08,2001-12-07,Thriller,116.0,7.8,482386.0,Danny Ocean and his eleven accomplices plan to...
246,247,Hannibal,PG-13,87000000,3.516923e+08,2001-02-08,Thriller,131.0,6.8,240535.0,"Living in exile, Dr. Hannibal Lecter tries to ..."
281,282,2 Fast 2 Furious,PG-13,76000000,2.363507e+08,2003-06-05,Thriller,107.0,5.9,236645.0,Former cop Brian OConner is called upon to bus...
295,296,Terminator 3: Rise of the Machines,R,200000000,4.350000e+08,2003-07-02,Thriller,109.0,6.3,357127.0,A cybernetic warrior from a post-apocalyptic f...
306,307,Ocean's Twelve,PG-13,110000000,3.627443e+08,2004-12-09,Thriller,125.0,6.5,337180.0,Daniel Ocean recruits one more team member so ...
319,320,Flightplan,PG-13,55000000,2.233873e+08,2005-09-22,Thriller,98.0,6.3,145570.0,A bereaved woman and her daughter are flying h...
352,353,Casino Royale,PG-13,150000000,5.990460e+08,2006-11-14,Thriller,144.0,8.0,546930.0,"Armed with a license to kill, Secret Agent Jam..."
365,366,Live Free or Die Hard,PG-13,110000000,3.835315e+08,2007-06-20,Thriller,128.0,7.1,375083.0,John McClane and a young hacker join forces to...
396,397,Taken,PG-13,25000000,2.268000e+08,2009-01-30,Thriller,90.0,7.6,473121.0,NaN
403,404,Fast and Furious,PG-13,85000000,3.632000e+08,2009-04-03,Thriller,107.0,8.8,1888105.0,NaN
424,425,Clash of the Titans,PG-13,125000000,4.932000e+08,2010-04-02,Thriller,108.0,5.8,260054.0,"Perseus demigod, son of Zeus, battles the mini..."
449,450,Mission: Impossible - Ghost Protocol,PG-13,145000000,6.947134e+08,2011-12-07,Thriller,133.0,7.4,434810.0,The IMF is shut down when its implicated in th...
455,456,Taken 2,PG-13,45000000,3.761413e+08,2012-09-27,Thriller,91.0,6.2,276940.0,"In Istanbul, retired CIA operative Bryan Mills..."
499,500,Gone Girl,R,61000000,3.693304e+08,2014-10-01,Thriller,145.0,8.1,782252.0,With his wifes disappearance having become the...
504,505,Godzilla,PG-13,160000000,5.290761e+08,2014-05-14,Thriller,123.0,6.4,359438.0,The world is beset by the appearance of monstr...
523,524,San Andreas,PG-13,110000000,4.704908e+08,2015-05-27,Thriller,114.0,NaN,NaN,NaN
527,528,Jurassic World,PG-13,150000000,1.513529e+09,2015-06-09,Thriller,124.0,NaN,NaN,NaN
542,543,Ghostbusters,PG-13,144000000,2.291475e+08,2016-07-14,Thriller,116.0,NaN,NaN,NaN
564,565,Jumanji: Welcome to the Jungle,PG-13,150000000,9.622000e+08,2017-12-05,Thriller,119.0,NaN,NaN,NaN
595,596,Glass,PG-13,20000000,2.470000e+08,2019-01-12,Thriller,129.0,NaN,NaN,NaN
598,599,John Wick: Chapter 3 - Parabellum,R,75000000,3.217000e+08,2019-05-09,Thriller,131.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN

In [70]:
movies[movies["Genre"] == "Comedy"]

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
1,2,Driving Miss Daisy,PG,7500000,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
8,9,Parenthood,PG-13,20000000,126297830.0,1989-07-31,Comedy,124.0,7.0,41866.0,The Buckmans are a midwestern family all deali...
9,10,Lethal Weapon 2,R,25000000,227853986.0,1989-07-07,Comedy,114.0,7.2,151737.0,Riggs and Murtaugh are on the trail of South A...
10,11,The War of the Roses,R,26000000,160200000.0,1989-12-08,Comedy,116.0,6.8,45248.0,A married couple try everything to get each ot...
14,15,Ghostbusters II,PG,37000000,215394738.0,1989-06-15,Comedy,108.0,6.6,171196.0,The discovery of a massive river of ectoplasm ...
...,...,...,...,...,...,...,...,...,...,...,...
516,517,Pitch Perfect 2,PG-13,29000000,287506194.0,2015-05-07,Comedy,115.0,NaN,NaN,NaN
537,538,Deadpool,R,58000000,783112979.0,2016-02-09,Comedy,108.0,NaN,NaN,NaN
582,583,Deadpool 2,R,110000000,785000000.0,2018-05-10,Comedy,119.0,NaN,NaN,NaN
597,598,The Upside,PG-13,37500000,122800000.0,2019-01-11,Comedy,126.0,NaN,NaN,NaN
601,602,Once Upon a Time in Hollywood,R,96000000,345900000.0,2019-05-21,Comedy,161.0,NaN,NaN,NaN

In [156]:
movies[(movies["Genre"] == "Action") | (movies["Genre"] == "Thriller") & (movies["Rating"] > 7)]

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
11,12,National Lampoon's Christmas Vacation,PG-13,27000000,7.132000e+07,1989-12-01,Action,97.0,7.6,135690.0,The Griswold familys plans for a big family Ch...
13,14,Batman,PG,35000000,4.113489e+08,1989-06-23,Action,126.0,7.5,319517.0,The Dark Knight of Gotham City begins his war ...
18,19,Tango & Cash,R,55000000,6.340861e+07,1989-12-22,Action,104.0,6.8,79806.0,"Framed by their ruthless arch-nemesis, a misma..."
21,22,Teenage Mutant Ninja Turtles,PG,13500000,2.020000e+08,1990-03-30,Action,93.0,6.8,79806.0,Four teenage mutant ninja turtles emerge from ...
23,24,Kindergarten Cop,PG-13,15000000,2.019577e+08,1990-12-21,Action,111.0,6.1,127793.0,A tough cop must pose as a kindergarten teache...
...,...,...,...,...,...,...,...,...,...,...,...
594,595,Avengers: Infinity War,PG-13,400000000,2.048000e+09,2018-04-23,Action,149.0,NaN,NaN,NaN
603,604,Shazam!,PG-13,100000000,3.650000e+08,2019-03-15,Action,132.0,NaN,NaN,NaN
606,607,Spider-Man: Far from Home,PG-13,160000000,1.131000e+09,2019-06-26,Action,129.0,NaN,NaN,NaN
608,609,Captain Marvel,PG-13,175000000,1.128000e+09,2019-02-27,Action,124.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN

In [74]:
movies[(movies["Genre"] == "Action") & (movies["Rating"] > 7)]

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
11,12,National Lampoon's Christmas Vacation,PG-13,27000000,7.132000e+07,1989-12-01,Action,97.0,7.6,135690.0,The Griswold familys plans for a big family Ch...
13,14,Batman,PG,35000000,4.113489e+08,1989-06-23,Action,126.0,7.5,319517.0,The Dark Knight of Gotham City begins his war ...
45,46,Teenage Mutant Ninja Turtles II,PG,25000000,7.860000e+07,1991-03-22,Action,88.0,8.0,397467.0,The Turtles and the Shredder battle once again...
73,74,The Last of the Mohicans,R,40000000,7.550586e+07,1992-09-25,Action,112.0,7.7,139000.0,Three trappers protect the daughters of a Brit...
104,105,Speed,R,30000000,3.504481e+08,1994-06-09,Action,116.0,7.2,309338.0,A young police officer must prevent a bomb exp...
118,119,True Lies,R,115000000,3.788824e+08,1994-07-14,Action,141.0,7.2,223671.0,"A fearless, globe-trotting, terrorist-battling..."
127,128,Se7en,R,33000000,3.273119e+08,1995-09-22,Action,127.0,8.6,1323681.0,"Two detectives, a rookie and a veteran, hunt a..."
133,134,GoldenEye,PG-13,58000000,3.521940e+08,1995-11-16,Action,130.0,7.2,226013.0,Years after a friend and fellow 00 agent is ki...
135,136,Braveheart,R,72000000,2.100000e+08,1995-05-24,Action,177.0,8.3,907287.0,When his secret bride is executed for assaulti...
150,151,The Rock,R,75000000,3.350626e+08,1996-06-06,Action,136.0,7.4,297268.0,A mild-mannered chemist and an ex-con must lea...
152,153,Mission: Impossible,PG-13,80000000,4.576964e+08,1996-05-22,Action,110.0,7.1,365266.0,"An American agent, under false suspicion of di..."
176,177,Batman and Robin,PG-13,160000000,2.382000e+08,1997-06-12,Action,125.0,7.8,978389.0,Batman and Robin try to keep their relationshi...
231,232,Gladiator,R,103000000,4.576404e+08,2000-05-01,Action,155.0,8.5,1243670.0,A former Roman General sets out to exact venge...
262,263,The Bourne Identity,PG-13,60000000,2.140342e+08,2002-06-14,Action,119.0,7.9,481712.0,"A man is picked up by a fishing boat, bullet-r..."
274,275,Men in Black 2,PG-13,140000000,4.418000e+08,2002-07-03,Action,88.0,7.4,489354.0,Agent J is sent to find Agent K and restore hi...
288,289,X2: X-Men United,PG-13,110000000,4.077000e+08,2003-05-02,Action,133.0,7.4,489354.0,When anti-mutant Colonel William Stryker kidna...
301,302,The Bourne Supremacy,PG-13,75000000,2.885002e+08,2004-07-23,Action,108.0,7.7,412796.0,When Jason Bourne is framed for a CIA operatio...
315,316,Spider-Man 2,PG-13,200000000,7.837663e+08,2004-06-25,Action,127.0,7.3,511447.0,Peter Parker is beset with troubles in his fai...
330,331,Batman Begins,PG-13,150000000,3.742187e+08,2005-06-10,Action,140.0,8.2,1222163.0,"After training with his mentor, Batman begins ..."
359,360,300,R,60000000,4.541619e+08,2007-03-09,Action,155.0,8.1,681249.0,NaN
361,362,The Bourne Ultimatum,PG-13,70000000,4.428241e+08,2007-08-03,Action,115.0,8.0,584584.0,Jason Bourne dodges a ruthless C.I.A. official...
386,387,Iron Man,PG-13,140000000,5.851742e+08,2008-04-30,Action,126.0,7.9,885440.0,"After being held captive in an Afghan cave, bi..."
393,394,The Dark Knight,PG-13,185000000,1.004558e+09,2008-07-16,Action,152.0,9.0,2127228.0,When the menace known as the Joker wreaks havo...
427,428,Inception,PG-13,160000000,8.255328e+08,2010-07-14,Action,148.0,8.8,1888105.0,A thief who steals corporate secrets through t...
444,445,Fast Five,PG-13,125000000,6.261377e+08,2011-04-20,Action,130.0,7.3,335531.0,Dominic Toretto and his crew of street racers ...
469,470,Skyfall,PG-13,200000000,1.108561e+09,2012-10-25,Action,143.0,7.7,599462.0,Bonds loyalty to M is tested when her past com...
471,472,The Avengers,PG-13,220000000,1.519558e+09,2012-04-25,Action,143.0,8.0,1205002.0,Earths mightiest heroes must come together and...
473,474,The Dark Knight Rises,PG-13,250000000,1.084939e+09,2012-07-16,Action,165.0,8.4,1418253.0,"Eight years after the Jokers reign of anarchy,..."
490,491,Iron Man 3,PG-13,200000000,1.215440e+09,2013-04-18,Action,130.0,7.2,710052.0,When Tony Starks world is torn apart by a form...
493,494,Man of Steel,PG-13,225000000,6.628455e+08,2013-06-12,Action,143.0,7.1,657937.0,Clark Kent is an alien who as a child was evac...
507,508,Captain America: The Winter Soldier,PG-13,170000000,7.147666e+08,2014-03-20,Action,136.0,7.7,685903.0,As Steve Rogers struggles to embrace his role ...
509,510,Guardians of the Galaxy,PG-13,170000000,7.733286e+08,2014-07-30,Action,121.0,8.0,978222.0,A group of intergalactic criminals must pull t...

In [79]:
#show the movies with more than 7 in Rating & greater than 50 million Gross & with Parental guidance as MPAA Rating
movies[(movies["Gross"] > 50000000) & (movies["MPAA Rating"] == "Parental guidance") & (movies["Rating"] > 7)]

Empty DataFrame
Columns: [MovieID, Title, MPAA Rating, Budget, Gross, Release Date, Genre, Runtime, Rating, Rating Count, Summary]
Index: []

In [162]:
#count of Animation movies with more than 7 in Rating (use the shape function)
#movies.shape I could't use the shape function for this. HELPPPPP
movies[(movies["Genre"] == "Animation") & (movies["Rating"] > 7)].shape[0]

39

In [109]:
#show the list of top 5 movies based on Budget
movies.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [108]:
movies

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN,NaN
611,612,Toy Story 4,G,200000000,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN

In [112]:
movie_sorted_by_budget = movies.sort_values(by=["Budget"], ascending=False)

In [114]:
movie_sorted_by_budget.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
594,595,Avengers: Infinity War,PG-13,400000000,2.048000e+09,2018-04-23,Action,149.0,NaN,NaN,NaN
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000,1.045714e+09,2011-05-14,Action,136.0,6.6,455211.0,Jack Sparrow and Barbossa embark on a quest to...
614,615,Avengers: Endgame,PG-13,356000000,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
574,575,Star Wars: The Last Jedi,PG-13,317000000,1.333000e+09,2019-12-09,Science Fiction,152.0,NaN,NaN,NaN
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000,9.610000e+08,2007-05-19,Adventure,169.0,7.1,565402.0,"Captain Barbossa, Will Turner and Elizabeth Sw..."

In [115]:
#show the top 5 Comedy movies by Rating
movies.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [136]:
movie_sorted_by_Rating = movies.sort_values(by=["Rating"])

In [137]:
movie_sorted_by_Rating

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
426,427,The Last Airbender,PG,150000000,3.185029e+08,2010-06-30,Adventure,103.0,4.1,139750.0,"Follows the adventures of Aang, a young succes..."
278,279,Spy Kids 3-D: Game Over,PG,38000000,1.970120e+08,2003-07-25,Family,84.0,4.2,50809.0,Carmens caught in a virtual reality game desig...
438,439,Alvin and the Chipmunks: Chipwrecked,G,75000000,3.426954e+08,2011-12-14,Family,87.0,4.3,28949.0,"Playing around while aboard a cruise ship, the..."
413,414,2012,PG-13,200000000,7.696536e+08,2009-10-10,Adventure,158.0,4.3,28949.0,NaN
227,228,Nutty Professor II: The Klumps,PG-13,84000000,1.233079e+08,2000-07-27,Comedy,106.0,4.4,46222.0,"Scientist Sherman Klumps inventions, his upcom..."
...,...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN,NaN
611,612,Toy Story 4,G,200000000,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN

In [138]:

list_of_index_rating_NaN = movie_sorted_by_Rating[movie_sorted_by_Rating["Rating"].isna() == True].index

In [139]:
movie_sorted_by_Rating.drop(labels=list_of_index_rating_NaN, inplace=True)

In [140]:
movie_sorted_by_Rating

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
426,427,The Last Airbender,PG,150000000,3.185029e+08,2010-06-30,Adventure,103.0,4.1,139750.0,"Follows the adventures of Aang, a young succes..."
278,279,Spy Kids 3-D: Game Over,PG,38000000,1.970120e+08,2003-07-25,Family,84.0,4.2,50809.0,Carmens caught in a virtual reality game desig...
438,439,Alvin and the Chipmunks: Chipwrecked,G,75000000,3.426954e+08,2011-12-14,Family,87.0,4.3,28949.0,"Playing around while aboard a cruise ship, the..."
413,414,2012,PG-13,200000000,7.696536e+08,2009-10-10,Adventure,158.0,4.3,28949.0,NaN
227,228,Nutty Professor II: The Klumps,PG-13,84000000,1.233079e+08,2000-07-27,Comedy,106.0,4.4,46222.0,"Scientist Sherman Klumps inventions, his upcom..."
...,...,...,...,...,...,...,...,...,...,...,...
98,99,Jurassic Park III,PG-13,93000000,3.688000e+08,2001-07-16,Thriller,92.0,8.9,1690474.0,A decidedly odd couple with ulterior motives ...
83,84,Schindler's List,R,22000000,3.213656e+08,1993-11-29,History,195.0,8.9,1117322.0,"In German-occupied Poland during World War II,..."
287,288,The Lord of the Rings: The Return of the King,PG-13,94000000,1.118889e+09,2003-12-01,Fantasy,201.0,8.9,1529953.0,Gandalf and Aragorn lead the World of Men agai...
99,100,Pulp Fiction,R,8000000,2.139288e+08,1994-09-10,Thriller,154.0,8.9,1690474.0,"The lives of two mob hitmen, a boxer, a gangst..."
393,394,The Dark Knight,PG-13,185000000,1.004558e+09,2008-07-16,Action,152.0,9.0,2127228.0,When the menace known as the Joker wreaks havo...

In [141]:
movie_sorted_by_Rating.tail()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
98,99,Jurassic Park III,PG-13,93000000,3.688000e+08,2001-07-16,Thriller,92.0,8.9,1690474.0,A decidedly odd couple with ulterior motives ...
83,84,Schindler's List,R,22000000,3.213656e+08,1993-11-29,History,195.0,8.9,1117322.0,"In German-occupied Poland during World War II,..."
287,288,The Lord of the Rings: The Return of the King,PG-13,94000000,1.118889e+09,2003-12-01,Fantasy,201.0,8.9,1529953.0,Gandalf and Aragorn lead the World of Men agai...
99,100,Pulp Fiction,R,8000000,2.139288e+08,1994-09-10,Thriller,154.0,8.9,1690474.0,"The lives of two mob hitmen, a boxer, a gangst..."
393,394,The Dark Knight,PG-13,185000000,1.004558e+09,2008-07-16,Action,152.0,9.0,2127228.0,When the menace known as the Joker wreaks havo...

In [163]:
movie_sorted_by_Rating[movie_sorted_by_Rating["Genre"] == "Comedy"].head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
227,228,Nutty Professor II: The Klumps,PG-13,84000000,123307945.0,2000-07-27,Comedy,106.0,4.4,46222.0,"Scientist Sherman Klumps inventions, his upcom..."
244,245,Dr. Dolittle 2,PG,70000000,176104344.0,2001-06-22,Comedy,87.0,4.7,39656.0,Dolittle must save a forest and a bears life.
338,339,Scary Movie 4,PG-13,45000000,178262620.0,2006-04-13,Comedy,83.0,5.0,108367.0,Cindy finds out the house she lives in is haun...
397,398,Paul Blart: Mall Cop,PG,26000000,183293131.0,2009-01-15,Comedy,91.0,5.2,97379.0,When a shopping mall is taken over by a gang o...
423,424,Little Fockers,PG-13,100000000,310650585.0,2010-12-21,Comedy,98.0,5.5,100845.0,Family-patriarch Jack Byrnes wants to appoint ...

In [144]:
#top 5 movie names by Rating
movie_sorted_by_Rating.head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
426,427,The Last Airbender,PG,150000000,318502923.0,2010-06-30,Adventure,103.0,4.1,139750.0,"Follows the adventures of Aang, a young succes..."
278,279,Spy Kids 3-D: Game Over,PG,38000000,197011982.0,2003-07-25,Family,84.0,4.2,50809.0,Carmens caught in a virtual reality game desig...
438,439,Alvin and the Chipmunks: Chipwrecked,G,75000000,342695435.0,2011-12-14,Family,87.0,4.3,28949.0,"Playing around while aboard a cruise ship, the..."
413,414,2012,PG-13,200000000,769653595.0,2009-10-10,Adventure,158.0,4.3,28949.0,NaN
227,228,Nutty Professor II: The Klumps,PG-13,84000000,123307945.0,2000-07-27,Comedy,106.0,4.4,46222.0,"Scientist Sherman Klumps inventions, his upcom..."

In [145]:
movie_sorted_by_Rating.tail(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
98,99,Jurassic Park III,PG-13,93000000,3.688000e+08,2001-07-16,Thriller,92.0,8.9,1690474.0,A decidedly odd couple with ulterior motives ...
83,84,Schindler's List,R,22000000,3.213656e+08,1993-11-29,History,195.0,8.9,1117322.0,"In German-occupied Poland during World War II,..."
287,288,The Lord of the Rings: The Return of the King,PG-13,94000000,1.118889e+09,2003-12-01,Fantasy,201.0,8.9,1529953.0,Gandalf and Aragorn lead the World of Men agai...
99,100,Pulp Fiction,R,8000000,2.139288e+08,1994-09-10,Thriller,154.0,8.9,1690474.0,"The lives of two mob hitmen, a boxer, a gangst..."
393,394,The Dark Knight,PG-13,185000000,1.004558e+09,2008-07-16,Action,152.0,9.0,2127228.0,When the menace known as the Joker wreaks havo...

In [149]:
movies

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN,NaN
611,612,Toy Story 4,G,200000000,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN

In [169]:
#top 3 high Gross Romance movies released after 1999, not included (typecast it to datetime)

romance_movies = movies[(movies["Genre"] == "Romance")]
romance_movies["Year"] = romance_movies["Release Date"].dt.year
romance_movies_after_1999 = romance_movies[romance_movies["Year"] > 1999]
romance_movies_after_1999.sort_values(by="Gross", ascending=False).head(3)

/var/folders/1j/30cgkc_x275_pj48vlh0dgz00000gn/T/ipykernel_1396/593081762.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  romance_movies["Year"] = romance_movies["Release Date"].dt.year

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary,Year
464,465,The Twilight Saga: Breaking Dawn - Part 2,PG-13,120000000,829000000.0,2012-11-13,Romance,115.0,5.5,218357.0,"After the birth of Renesmee/Nessie, the Cullen...",2012
442,443,The Twilight Saga: Breaking Dawn - Part 1,PG-13,110000000,712171856.0,2011-03-15,Romance,117.0,4.9,211592.0,The Quileutes close in on expecting parents Ed...,2011
401,402,The Twilight Saga: New Moon,PG-13,50000000,709827462.0,2009-03-15,Romance,130.0,4.7,252223.0,Edward leaves Bella after an attack that nearl...,2009

In [185]:
#how many Genres are present in the dataframe? (use the function value_counts() which applies to Series, not Dataframe)
genres_serie = movies["Genre"]
genres_value_count = genres_serie.value_counts()
genres_value_count.size

16

In [186]:
#top 5 expensive movies released after 1999, not included (measured by Budget)
movies

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN,NaN
611,612,Toy Story 4,G,200000000,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN